# Archivos Compilados #
*.class
*.log
*.log.*

# Sistema de Paquetes #
*.jar
!gradle-wrapper.jar
*.war
*.ear

# Archivos del IDE #
.idea/
.gradle/
build/
out/

# Archivos ocultos del Sistema
.DS_Store